<tr>
  <th>Order date</th>
  <th>Customer name</th>
  <th>Order number</th>
  <th>Order type</th>
  <th>Payment type</th>
  <th>Status</th>
  <th>Total bill amount</th>
  <th>Net payable amount to vendor</th>
</tr>
<% orders.each do |order| %>
  <tr>
    <td><%= order.created_at.strftime('%B %d, %Y %I:%M %p') %></td>
    <td><%= order.customer_name %></td>
    <td><%= order.id %></td>
    <td><%= order.openbasket ? 'Open Basket' : 'Regular' %></td>
    <td><%= order.payment.present? ? order.payment_method.try(:titleize) : '' %></td> 
    <td><%= order.state.titleize %></td>
    <td><%= number_to_currency(order.total_in_aed, unit: '') %> AED</td>
    <td><%= number_to_currency(order.payable_amount, unit: '') %> AED</td>
  </tr>
<% end %>
