<tr>
  <th>Vendor name</th>
  <th>Total number of orders</th>
  <th>Number of regular orders</th>
  <th>Number of open baskets</th>
  <th>Total transaction amount</th>
  <th>Lavo commission amount</th>
  <th>Account balance</th>
</tr>
<% vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.name %></td>
    <td><%= vendor.orders.count %></td>
    <td><%= vendor.orders.regularbasket.count %></td>
    <td><%= vendor.orders.openbasket.count %></td>
    <td><%= number_to_currency((vendor.orders.sum(&:total).to_i/100), unit: '') %> AED</td>
    <td><%= vendor.lavo_commission %></td> 
    <td><%= number_to_currency(vendor.balance_in_aed, unit: '') %> AED</td>
  </tr>
<% end %>
