<div class="container">
  <%= form_for :vendor, url: search_vendor_transactions_admin_reports_path, method: :post, html: {}, remote: true do |f| %>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :all, 'Select all vendors' %>
      </div>
      <div class="col-md-5">
        <%= f.check_box :all %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :ids, 'Vendor Name' %>
      </div>
      <div class="col-md-5">
        <%= f.select :ids, options_for_select(@vendors_name), {}, { multiple: true, class: 'chzn-select', style: 'width:450px;' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :start_date, 'Start Date' %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :start_date, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :end_date, 'End Date' %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :end_date, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>
    <%= f.submit 'Filter' %>
  <% end %>
  <%= form_for :vendor, url: export_transactions_admin_reports_path(format: :csv), html: { method: :post, id: 'exportTransactionsReports' } do |ef| %>
    <%= ef.hidden_field :ids, id: 'hidden_vendor_ids', multiple: true %>
    <%= ef.hidden_field :start_date, id: 'hidden_vendor_start_date' %>
    <%= ef.hidden_field :end_date, id: 'hidden_vendor_end_date' %>
    <%= ef.submit 'Export', data: { disable_with: false } %>
  <% end %>
</div>

<table id='transactionsList'>
  <%= render partial: 'transactions_list', locals: { vendors: @vendors } %>
</table>

<%= javascript_tag do %>
  $(document).ready(function () {
    $('#vendor_start_date').datepicker();
    $('#vendor_end_date').datepicker();
    
    $('#exportTransactionsReports').on('submit', function () {
      vendorStartDate = $('#vendor_start_date').val();
      vendorEndDate = $('#vendor_end_date').val();
      vendorIds = $('#vendor_ids').val();
      if (vendorStartDate && vendorEndDate && vendorIds) {
        $('#hidden_vendor_ids').val(vendorIds);
        $('#hidden_vendor_start_date').val(vendorStartDate);
        $('#hidden_vendor_end_date').val(vendorEndDate);
      } else {
        alert('Please enter values before applying filter');
        return false;
      }
    });

    $('#vendor_all').on('change', function () {
      $(this).is(':checked') ? $('#vendor_ids option').prop('selected', true) : $('#vendor_ids option').prop('selected', false);
    });
  });
<% end %>
