<div class="container">
  <%= form_for :vendor, url: search_vendor_transactions_admin_reports_url, method: :get, html: {}, remote: true do |f| %>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :ids, 'Vendor Name' %>
      </div>
      <div class="col-md-5">
        <%= f.select :ids, options_for_select(@vendors_name), {}, { multiple: true, class: 'chzn-select', style: 'width:450px;' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :start_date, 'Start Date' %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :start_date, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <%= f.label :end_date, 'End Date' %>
      </div>
      <div class="col-md-5">
        <%= f.text_field :end_date, 'data-behaviour' => 'datepicker' %>
      </div>
    </div>
    <%= f.submit 'Filter' %>
    <%= link_to 'Export', 'javascript:void(0);', class: 'btn btn-default btn-primary', id: 'exportTransactions' %>
  <% end %>
</div>

<table id='transactionsList'>
  <%= render partial: 'transactions_list', locals: { vendors: @vendors } %>
</table>

<%= javascript_tag do %>
  $(document).ready(function () {
    $('#vendor_start_date').datepicker();
    $('#vendor_end_date').datepicker();
    
    $('#exportTransactions').on('click', function () {
      vendorStartDate = $('#vendor_start_date').val();
      vendorEndDate = $('#vendor_end_date').val();
      vendorIds = $('#vendor_ids').val();
      if (vendorStartDate && vendorEndDate && vendorIds) {
        $.ajax({
          type: 'GET',
          url: '/admin/reports/export_transactions.xlsx',
          data: { vendor: { start_date: vendorStartDate, end_date: vendorEndDate, ids: vendorIds } },
          success: function () {
            console.log('Xlsx file is exported');
          },
          error: function (error) {
            console.log(error);
          }
        });
      }
      else {
        alert('Please enter values before applying filter');
      }
    });
  });
<% end %>